AZURE_OPENAI_ENDPOINT=https://xxxxx.openai.azure.com/
AZURE_OPENAI_KEY=xxxxxxxxxx

AZURE_OPENAI_API_VERSION=2024-12-01-preview

CHAT_DEPLOYMENT=chat-model
EMBEDDING_DEPLOYMENT=embedding-model

AZURE_SEARCH_ENDPOINT=https://xxxx.search.windows.net
AZURE_SEARCH_KEY=xxxxxxxx

AZURE_SEARCH_INDEX_NAME=docs